
/****************************************/
/* common styles used for v1 through v4 */
/****************************************/

body          { font-family: 'Roboto', sans-serif; }
#stats        { border: 2px solid black; }
#controls     { width: 28em; float: left; padding: 1em; font-size: 0.7em; }
#controls th  { text-align: right; vertical-align: middle; }
#instructions { clear: left; float: left; width: 17em; padding: 1em; border: 1px solid black; box-shadow: 0 0 5px black; }
#racer        { position: relative; z-index: 0; width: 640px; height: 480px; margin-left: 20em; border: 2px solid black; }
#canvas       { position: absolute; z-index: 0; width: 640px; height: 480px; z-index: 0; background-color: #72D7EE; }
#mute         { background-position:   0px 0px; width: 32px; height: 32px; background: url(images/mute.png); display: inline-block; cursor: pointer; position: absolute; margin-left: 20em; }
#mute.on      { background-position: -32px 0px; }

/**************************************************/
/* rudimentary heads up display (only used in v4) */
/**************************************************/

#hud                   { position: absolute; z-index: 1; width: 640px; padding: 5px 0; font-family: Verdana, Geneva, sans-serif; font-size: 0.8em; background-color: rgba(255,0,0,0.4); color: black; border-bottom: 2px solid black; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
#hud .hud              { background-color: rgba(255,255,255,0.6); padding: 5px; border: 1px solid black; margin: 0 5px; transition-property: background-color; transition-duration: 2s; -webkit-transition-property: background-color; -webkit-transition-duration: 2s; }
#hud #speed            { float: right; }
#hud #current_lap_time { float: left;  }
#hud #last_lap_time    { float: left; display: none;  }
#hud #current_Point    { float: left;}
#hud #fast_lap_time    { display: block; width: 12em;  margin: 0 auto; text-align: center; transition-property: background-color; transition-duration: 2s; -webkit-transition-property: background-color; -webkit-transition-duration: 2s; }
#hud .value            { color: black; font-weight: bold; }
#hud .fastest          { background-color: rgba(255,215,0,0.5); }

.popup {
    /*position: relative;*/
    /*display: inline-block;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;

    /*position: relative; */
    z-index: 0;
    width: 640px;
     height: 480px;
     /*margin-left: 20em;*/
     /*border: 2px solid black;*/
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 630px;
    font-size: .8em;
    background-color: rgba(85,85,85,.8);;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    /*position: relative;*/
    z-index: 1;
    left: 0%;
    top:0%;
    margin-top: 100px;
    margin-left: 300px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.popup form {
  line-height: 30px;
  /*margin-left: 220px;*/
  opacity: 1;
  margin: 1em;
  text-align: center;
}
.popup #resultsummary {
  line-height: 30px;
  margin-left: 40%;
  opacity: 1;
}

.popup button {
  margin-left: 285px;
  text-align: center;
  color:black;
}

[type='radio'] {
  display: none;
}
.popup label,
.popup input[type=text] {
  min-width: 8em;
  /*padding:5px;*/
  text-align: center;
  background-color: #aaaaaa;
  border-radius: .2em;
  box-sizing: border-box;
  opacity: 1;
  display: inline-block; 
  font-weight: 100; 
}

.optionLabel {
  width:8em;
}

.popup label:hover {
  background-color: #5b5b5b;
}

.popup #phrase {
  /*margin-left: -200px;*/

}

.popup input[type=radio] {
  width:10em;
}

span#phrase {
  background-color: #555;
  opacity: 1;
  padding:10px;
  border-radius: 5px;
  width: 600px;
}

.popup input[type=radio]:checked + label,
.popup input:focus {
  color: white;
  background-color: black;
  border: none;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

.sbefore{
  color: #bbbec1;
  font-size: 14px;
}
.safter{
  color: #bbbec1;
  font-size: 14px;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: .8;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:.8 ;}
}
